<div>
  <h3>Title: {{posts.title}}</h3>
  <h3>Content: {{posts.content}}</h3>
  <h4>Posted By: {{posts.user.username}}</h4>
  <h4>Date of Post: {{format_date posts.date}}</h4>
</div>
<div>
  <div>
    <a href="/post/update/{{posts.id}}"><button id="update">Update Post</button></a>
  </div>
  <div>
    <a href="/post/delete/{{posts.id}}"<button id="delete">Delete Post</button></a>
  </div>
</div>

<button id="comment">Add A Comment</button>
<div>
  <form id="add-comment-form">
    <label id="comment-label">Comment:</label><br />
    <input
      type="text"
      id="mycomment"
      placeholder="Write your comment here..."
      class="form-comment-input"
    />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<h2>Your Comments</h2>
{{#each comments as |aComment|}}
  <div>
    <h4>{{aComment.comment}}</h4>
    <h4>{{aComment.user.username}}</h4>
    <h5>{{format_date aComment.comment_date}}</h5>
  </div>
{{/each}}

<script src="/js/comment.js"></script>