<div>
  <h3>Title: {{posts.title}}</h3>
  <h3>Content: {{posts.content}}</h3>
  <h4>Posted By: {{posts.user.username}}</h4>
  <h4>Date of Post: {{format_date posts.date}}</h4>
</div>

<button>Add A Comment</button>

{{#each comments as |aComment|}}
  <div>
    <h2>Your Comments</h2>
    <h4>{{aComment.comment}}</h4>
    <h4>{{aComment.user.username}}</h4>
    <h5>{{format_date aComment.comment_date}}</h5>
  </div>
{{/each}}